apiVersion: v1
kind: Service
metadata:
  name: minecraft-atm10
  namespace: games
spec:
  type: NodePort
  selector:
    app: minecraft-atm10
  ports:
    - name: mc
      port: 25565
      targetPort: 25565
      nodePort: 30065
