apiVersion: v1
kind: PersistentVolume
metadata:
  name: nextcloud-pv
spec:
  capacity:
    storage: 50Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: uranus-nextcloud
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /srv/nextcloud/data
